body{
    font-family: 'Roboto Mono', ;
    font-family: 'Poppins', ;
}
.headline{
    font: 50px;
}
.highlight{
    color: orangered;
}
.half-width {
    width:40%;
    float: left;
.half-width img{
    width: 70%;
    margin-left:200px;
}
.top-banner{
    background-image: url('image/top-banner.png');
}
.link-button{
    text-decoration:none;
    background-color: orangered;
}